//needs content<nav class="navbar">
    <div class="logo">
        <a href="index.html">
            <img src="assets/images/logo/lizgate_logo.png" alt="Lizgate Corporation Logo">
        </a>
    </div>
    <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="pages/about/about_header.html">About Us</a></li>
        <li><a href="pages/solutions/solutions_section1.html">Solutions</a></li>
        <li><a href="pages/contact/contact_map.html">Contact</a></li>
    </ul>
    <div class="hamburger" id="hamburger-menu">
        <!-- Mobile menu toggle -->
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
